<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AoC Tests">
    <test name="aoc.test.Day01Test">
        <classes>
            <class name="aoc.days.Day01Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day02Test">
        <classes>
            <class name="aoc.days.Day02Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day03Test">
        <classes>
            <class name="aoc.days.Day03Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day04Test">
        <classes>
            <class name="aoc.days.Day04Test"/>
        </classes>
    </test>
</suite>
