<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AoC Tests">
    <test name="aoc.test.Day01Test">
        <classes>
            <class name="aoc.days.Day01Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day02Test">
        <classes>
            <class name="aoc.days.Day02Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day03Test">
        <classes>
            <class name="aoc.days.Day03Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day04Test">
        <classes>
            <class name="aoc.days.Day04Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day05Test">
        <classes>
            <class name="aoc.days.Day05Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day06Test">
        <classes>
            <class name="aoc.days.Day06Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day07Test">
        <classes>
            <class name="aoc.days.Day07Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day08Test">
        <classes>
            <class name="aoc.days.Day08Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day09Test">
        <classes>
            <class name="aoc.days.Day09Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day10Test">
        <classes>
            <class name="aoc.days.Day10Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day11Test">
        <classes>
            <class name="aoc.days.Day11Test"/>
        </classes>
    </test>
</suite>
