<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AoC Tests">
    <test name="aoc.test.Day01Test">
        <classes>
            <class name="aoc.days.Day01Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day02Test">
        <classes>
            <class name="aoc.days.Day02Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day03Test">
        <classes>
            <class name="aoc.days.Day03Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day04Test">
        <classes>
            <class name="aoc.days.Day04Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day05Test">
        <classes>
            <class name="aoc.days.Day05Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day06Test">
        <classes>
            <class name="aoc.days.Day06Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day07Test">
        <classes>
            <class name="aoc.days.Day07Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day08Test">
        <classes>
            <class name="aoc.days.Day08Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day09Test">
        <classes>
            <class name="aoc.days.Day09Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day10Test">
        <classes>
            <class name="aoc.days.Day10Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day11Test">
        <classes>
            <class name="aoc.days.Day11Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day12Test">
        <classes>
            <class name="aoc.days.Day12Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day13Test">
        <classes>
            <class name="aoc.days.Day13Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day14Test">
        <classes>
            <class name="aoc.days.Day14Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day15Test">
        <classes>
            <class name="aoc.days.Day15Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day16Test">
        <classes>
            <class name="aoc.days.Day16Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day17Test">
        <classes>
            <class name="aoc.days.Day17Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day18Test">
        <classes>
            <class name="aoc.days.Day18Test"/>
        </classes>
    </test>
    <test name="aoc.test.Day19Test">
        <classes>
            <class name="aoc.days.Day19Test"/>
        </classes>
    </test>
</suite>
